body {
  background:#fcfcfc;
}

input {
  font-size: 40px;
  width: 80%;
  text-align:center;
  margin: 0 auto;
  display:block;
  border: 1px solid #cecece;
  padding: 4px;
  border-radius: 4px;
  font-family:sans-serif;
}

.lang { 
}

#translations { 
  -moz-column-count: 2;
  -webkit-column-count: 2;
  -webkit-column-width: 45%;
  width: 75%;
  margin: 0 auto;
}

table#translations { 
  font-family: sans-serif;
  border: 1px solid gray;
  background: #333;
  -webkit-border-radius: 10px; 
  margin: 2em auto;
  padding: 0;
  background: black;
}

table#translations thead { 
  font-weight: bold;
  color: #efefef;
  background: #333;
}

tbody tr:nth-child(2n+1) {
  background: #e3e3e3;
}

tr:nth-child(2n) {
  background: #efefef;
}

td.wp_code, th.wp_code { 
  width: 8em;
}

td.wp_code:hover, th.wp_code:hover { 
  cursor: pointer;
}

td.endonym, th.endonym { 
  width: 12em;
  text-align: left;
}

td.term, th.term { 
  width: auto;
  text-align: left;
}


td.wp_code { 
  text-align: right;
  padding-right: 1em;
  font-size: small; 
  font-family: monospace; 
  color: gray; 
}

td.endonym { 
  font-size: small;
  padding-left: .5em;
}


td.term { 
  text-align: left; 
  font-size: large; 
  font-weight: bold; 
}

td.term a:hover  { 
  text-align: left;
  list-style-type: none;
  font-size: large; 
  background: yellow; 
}

td.term a  { 
  display:block;
  padding-top: .5em ;
  padding-bottom: .5em ;
  padding-left: .5em ;
  padding-right: 0;
  color:black;
  text-decoration:none;
}

.fave:before { 
  content: '★ '; 
}
