 <!doctype html>
<html>
<head>
<title>wikipedia interlanguage link tool</title>

<link rel=stylesheet media=screen  href=css/style.css > </style>

<script src=js/jquery.js> </script>
<script src=js/underscore.js> </script>
<script src=js/wplookup.js> </script>

<script type=text/html id=translationTemplate>
<li><span class=lang><%= lang %></span>  <%= term %></li>
</script>

</head>
<body>
<input placeholder="Type an English Wikipedia article title and press enter." />
<ul id=translations>
</ul>
</body>
</html>
